body{
    background-color: rgb(11, 11, 11);
    margin: 0;
    padding: auto;
}
div{
    text-align: center;
}
.stone{
    height: 300px;
    width: 300px;
}

.paper{
    height: 300px;
    width: 300px;


}
.sicssor{
    height: 300px;
    width: 300px;

}
button{
    border-radius: 10%;
    padding:10px;
    background-color: rgb(228, 111, 8);
}
h1{
    color: white;
    font-size: 100px;

}
.answer{
    color: white;
    font-size: 50px;
}
.reset{
    height: 200px;
    width: 250px;
}