body {
    color: #fefefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(11, 11, 11);
    margin: 0;
    padding: auto;
}

h1 {
    font-weight: 500;
    font-size: 48px;
}

div {
    text-align: center;
}

.option-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.option {
    height: 100px;
}

button {
    padding: 20px;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    border: 1px solid #fefefe;
    background: transparent; 
    cursor: pointer;
}

button:hover {
    scale: 1.05;
    background: #2e2e2e;
    transition: all;
    transition-duration: 200ms;
}

.answer {
    font-size: 18px;
}

.move-container {
    display: flex;
    justify-content: space-between;
    width: 540px;
    margin: 10px auto -20px auto;
}

.user-move, .computer-move {
    display: flex;
    gap: 30px;
    align-items: center;
}

.result-container {
    margin-bottom: 40px;
}

table {
    margin: 0px auto;
}

th, td {
    border: 1px solid #e1e1e1;
    padding: 10px 68px;
}

.reset {
    height: 120px;
    border-radius: 100%;
}